# --- FOLDERS ---
# Node Modules
/node_modules
/node_modules/**
**/node_modules/**

# Build Folder
/build
/build/**

# Distribution Folder
/dist
/dist/**

# Compiled Docs Folder
/docs
/docs/**

# --- FILES ---
**/.DS_Store