#project-manager {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: min-content min-content;

    @media (min-width: 480px) {
        .project-list {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fill, 180px);
        }
    }

    @media (min-width: 576px) {
        .project-list {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(auto-fill, 180px);
        }
    }

    @media (min-width: 768px) {
        .project-list {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(auto-fill, 180px);
        }
    }

    @media (min-width: 992px) {
        .project-list {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(auto-fill, 180px);
        }
    }

    @media (min-width: 1200px) {
        .project-list {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(auto-fill, 180px);
        }
    }

    .project-list {
        width: calc(100% - 100px);
        height: fit-content;
        margin: 0;
        padding: 0;

        display: grid;
        grid-gap: 50px;

        padding: 50px;

        .project-item {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;

            background-color: #F4F4F4;
            color: black;
            overflow: hidden;
            border-radius: 10px;
            border-radius: 10px;

            box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.25);

            transition: box-shadow 0.5s;
        }

        .project-info:hover {
            box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.25);

            transition: box-shadow 0.5s;
        }

        .project-info {
            #data-container {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 3fr 1fr;

                position: relative;

                div {
                    margin: 0;
                    padding: 10px;
                    width: calc(100% - 20px);
                    height: fit-content;
                }

                #title {
                    font-weight: 600;
                    font-size: 16pt;

                    padding: 10px;

                    text-align: center;
                }

                #description {
                    font-style: italic;
                    text-align: center;
                    font-size: 10pt;
                    padding: 5px 10px;
                    padding-top: 0;
                    height: fit-content;
                }

                #links {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    padding: 0;
                    width: 100%;
                    height: 40px;

                    position: absolute;
                    bottom: 0;
                    left: 0;

                    a {
                        width: calc(100% - 20px);
                        height: calc(100% - 20px);
                        text-align: center;
                        color: black;
                        text-decoration: none;
                        
                        padding: 10px;
                    }
                    
                    a:hover {
                        cursor: pointer;
                        background-color: #FAFAFA;
                    }
                }
            }
        }

        .project-new {
            position: relative;
        
            #new-project-new-button {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                
                display: table;
                position: absolute;
                top: 0;
                right: 0;
                transition: right 0.5s;
        
                div {
                    position: absolute;
        
                    background-color: #DADADA;

                    align-self: center;
                    vertical-align: middle;
                }
        
                div:nth-child(1) {
                    top: calc(50% - 30px);
                    left: calc(50% - 5px);

                    height: 60px;
                    width: 10px;
                }

                div:nth-child(2) {
                    top: calc(50% - 5px);
                    left: calc(50% - 30px);

                    height: 10px;
                    width: 60px;
                }
            }

            #new-project-new-button.hidden {
                right: 100%;
                transition: right 0.5s;
            }

            #new-project-details {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 2fr 1fr;

                position: absolute;
                top: 0;
                left: 0;

                transition: left 0.5s;

                #new-project-title {
                    grid-column: 1 / 3;
                    grid-row: 1 / span(1);

                    text-align: center;
                    padding: 5px;
                    font-size: 10pt;
                    font-weight: bold;
                }

                #new-project-title-input {
                    grid-column: 1 / 3;
                    grid-row: 2 / span(1);
                    
                    text-align: center;
                    padding: 5px;
                    font-size: 9pt;
                    
                    border: none;
                    background-color: #FCFCFC;
                }

                #new-project-description {
                    grid-column: 1 / 3;
                    grid-row: 3 / span(1);

                    text-align: center;
                    padding: 5px;
                    font-size: 10pt;
                    font-weight: bold;
                }

                #new-project-description-input {
                    grid-column: 1 / 3;
                    grid-row: 4 / span(1);

                    text-align: center;
                    padding: 5px;
                    font-size: 9pt;

                    border: none;
                    background-color: #FCFCFC;

                    resize: none;
                }

                #new-project-title-input:focus, #new-project-description-input:focus {
                    outline: none;
                }

                input[type="button"], input[type="submit"] {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: none;
                }

                input[type="button"]:hover, input[type="submit"]:hover {
                    cursor: pointer;
                    background-color: #FAFAFA;
                }
            }

            #new-project-details.hidden {
                left: 100%;
                transition: left 0.5s;
            }
        }

        .project-new:hover {
            #new-project-new-button:hover > div {
                background-color: #DDD;
            }

            #new-project-new-button:hover {
                cursor: pointer;
                background-color: #F6F6F6;
            }

            box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.25);

            transition: box-shadow 0.5s;
        }
    }

    .projects-user-data {
        grid-row: 1 / 2;

        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        background: #EEE;

        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.25);

        display: flex;

        .projects-user-data-1 {
            margin: 30px 50px;
            margin-right: 10px;

            display: flex;

            .projects-user-avatar-main {
                width: 80px;
                height: 80px;

                background: white;
                border-radius: 50%;
            }

            .projects-user-name-main {
                margin: 23px;
                margin-right: 10px;

                font-weight: 400;
            }
        }

        .reload-button {
            margin: 30px 0px;
            margin-right: 10px;

            display: flex;

            img {
                align-self: center;
                transform: rotate(0);

            }

            img:hover {
                cursor: pointer;
            }

            img.rotating {
                transform: rotate(360deg);
                transition: transform 1s;
            }
        }
    }
}

#root {
    overflow: scroll !important;
}