#settings-view {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;

    background-color: #EBEBEB;

    // grid-row: 2 / 3;
    grid-column: 3 / 4;

    #settings-node-title {
        margin: 0;
        padding: 5px;
        width: calc(100% - 10px);

        font-size: 12pt;
        text-align: center;
        font-weight: 400;

        background: #F5F5F5;
        border-bottom: 1px solid #666;

        border: none;
    }

    span {
        top: calc(50% - 6pt);
        width: 100%;
        height: fit-content;
        position: absolute;
        text-align: center;
        font-size: 12pt;
        font-weight: 300;
        font-style: italic;
        color: #999;
    }

    #settings-container {
        width: 100%;
        height: fit-content;

        .settings-list {
            margin: 0;
            padding: 5px;

            width: calc(100% - 10px);
            height: calc(100% - 10px);

            list-style-type: none;

            .settings-item {
                margin: 5px 0;
                padding: 0;

                width: 100%;
                height: fit-content;

                display: grid;
                grid-template-columns: 3fr 4fr;
                grid-template-rows: 1fr;
                grid-gap: 5px;

                .settings-item-title {
                    margin: 0;
                    padding: 2px 5px;

                    width: calc(100% - 10px);
                    height: calc(100% - 4px);

                    font-size: 11pt;
                    font-weight: normal;
                    
                }

                .settings-item-input {
                    margin: 0;
                    padding: 0;

                    width: 100%;
                    height: 100%;

                    display: grid;
                    grid-template-columns: 5fr 1fr;
                    grid-template: 1fr;
                    grid-gap: 5px;

                    input {
                        width: calc(100% - 4px);
                        height: fit-content;

                        font-size: 12pt;
                        text-align: center;

                        border: none;
                        margin: 0;
                        padding: 2px;

                        border-radius: 2px;
                    }

                    .settings-item-is-input {
                        margin: auto;
                    }

                    .settings-item-controlled {
                        width: calc(100% - 8px);
                        height: fit-content;

                        font-size: 10pt;
                        font-style: italic;
                        font-weight: 100;
                        text-align: center;

                        margin: 0;
                        padding: 4px;
                    }
                }

                .settings-item-color {
                    input {
                        height: calc(12pt + 4px);
                    }
                }

                .settings-item-array-selector {
                    position: relative;
                    
                    .settings-item-array {
                        width: 80%;
                        height: fit-content;
                        margin: 0;
                        padding: 0;

                        position: absolute;
                        top: 0;
                        left: 0;

                        list-style: none;
                        text-align: center;
                        font-size: 11pt;

                        background-color: #DDD;

                        .settings-item-array-item {
                            width: calc(100% - 10px);
                            height: fit-content;
                            padding: 5px;
                            margin: 0;
                        }

                        .settings-item-array-item:hover {
                            cursor: pointer;
                            background-color: lightblue;
                        }
                    }

                    .settings-item-array-button {
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        margin: 0;
                        padding: 2px;

                        font-size: 12pt;
                        text-align: center;
                        border-radius: 2px;

                        background-color: white;
                    }
                    
                    .settings-item-array-button:hover {
                        cursor: pointer;
                        background-color: lightblue;
                    }
                }
            }
        }
    }
}